*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

body{
    background: #098373;
    color: white;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    padding: 12px 50px;
    background-color: #238A68;
}
  
header ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
}

header ul li img {
    height: 55px;
 }
  
header ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
}

main {
    width: 100%;
    text-align: center;
}

main::before {
    content: "";
    position: absolute;
    background-image: url('./assets/image_home.png');
    background-size: cover;
    background-position: center;
    display: flex;
    top: 0;
    width: 100%;
    height: 520px;
    z-index: -1;
}

main h1 {
    padding-top: 170px;
    font-size: 40px;
    font-weight: 500;
}

main h3 {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  
main a {
    display: inline-block;
    margin-top: 25px;
    color: #BAE65C;
    font-weight: 500;
    text-decoration: none;
    font-size: 36px;
}
  
h2 {
    font-size: 44px;
    font-weight: 500;
    margin-top: 300px;
    text-align: left;
    margin-left: 110px;
    margin-bottom: 50px;
}
  
.descricao1, .descricao2 {
    width: 40%;
    margin-left: 80px;
    font-size: 16px;
    line-height: 24px;
}
  
.descricao1 h3,
.descricao2 h3 {
    margin-bottom: 18px;
    font-size: 34px;
    font-weight: 400;
}
  
.imagem_descricao1 img,
.imagem_descricao2 img {
    width: 480px;
    height: auto;
}
  
.imagem_descricao1,
.imagem_descricao2 {
    position: absolute;
    right: 60px;
}
  
.imagem_descricao1 {
    top: 720px;
}
  
main > img {
    display: block;
    width: 100%;
    margin-top: 70px;
}
  
.descricao2 {
    margin-top: 60px;
}
  
.imagem_descricao2 {
    top: 2080px;
}
  
main > img {
    display: block;
    width: 100%;
    margin-top: 70px;
}
  
.descricao2 {
    margin-top: 60px;
}
  
.imagem_descricao2 {
    top: 2080px;
}
  
footer {
    margin-top: auto;
    background: #15513D;
    color: #0cd4bc;
    padding: 40px 80px;
    display: flex;
    gap: 40px;
}

footer img {
    height: 70px;
    margin-bottom: 15px;
}
  
footer p {
    font-size: 14px;
    opacity: 0.8;
    line-height: 22px;
    width: 80%;
}
  
footer h3 {
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: 500;
}
  
footer ul {
    list-style: none;
}
  
footer ul li {
    margin-bottom: 8px;
}
  
footer ul li a {
    color: white;
    text-decoration: none;
    font-weight: 300;
}