*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    background-image: url(/assets/image_fundo_quiz.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

body > a button{
    margin: 20px;
    padding: 8px 16px;
    background: none;
    color: white;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: white;
}

.popUp{
    background-color: #15513D;
    width: 600px;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.popUp h1{
    width: 100%;
    background-color: #098373;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    font-size: 22px;
    font-weight: 400;
}

.respostas {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.respostas p{
    background-color: #098373;
    padding: 20px 10px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
}

#proximo {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 15px;
    background-color: #098373;
    color: white;
    font-size: 14px;
    cursor: pointer;
    opacity: 0.5; 
    pointer-events: none;
}

#proximo.ativo {
    opacity: 1;
    pointer-events: auto;
}
